# Filling or replacing values

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

## Data preparation

In [13]:
df = pd.read_csv('cc2.csv')
# df.columns

In [14]:

a = df.std()
# df = df.fillna(0)
df = df.fillna(df.mean())
# df.head(10)
b = df.std()

C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_21044\2643740732.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  a = df.std()
C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_21044\2643740732.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df.fillna(df.mean())
C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_21044\2643740732.py:5: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  b = df.std()

In [15]:
a - b

row                     0.000000
col                     0.000000
rep                     0.000000
line                    0.000000
grid                    0.000000
Tier                    0.000000
Row                     0.000000
Weight per row (lbs)    0.000000
cc_0412                 0.000000
cc_0415                 0.000214
cc_0427                 0.001939
cc_0506                 0.000000
cc_0516                 0.014730
cc_0520                 0.008244
cc_0523                 0.008872
cc_0527                 0.000000
cc_0531                 0.008258
cc_0602                 0.000000
cc_0607                 0.007495
cc_0614                 0.000000
cc_0617                 0.000000
cc_0620                 0.000000
cc_0623                 0.000000
cc_0627                 0.008042
cc_0630                 0.003751
cc_0708                 0.004379
cc_0713                 0.004047
cc_0716                 0.004272
cc_0719                 0.000000
cc_0721                 0.004852
cc_0725                 0.000000
cc_0728                 0.005841
cc_0802                 0.000000
cc_0808                 0.000000
cc_0812                 0.018214
dtype: float64

In [11]:
b['cc_0412'] - a['cc_0412'].std()

0.3738509101586881

In [8]:
b

row                       4.000000
col                      18.168000
rep                     257.161143
line                      1.496000
grid                      1.000000
Tier                      4.000000
Row                      35.752000
Weight per row (lbs)      6.619561
cc_0412                   0.332185
cc_0415                   0.265091
cc_0427                   2.959513
cc_0506                   5.113903
cc_0516                  29.447688
cc_0520                  40.268653
cc_0523                  52.564027
cc_0527                  58.223346
cc_0531                  68.028836
cc_0602                  62.160503
cc_0607                  86.978497
cc_0614                  87.952144
cc_0617                  90.959056
cc_0620                  92.205657
cc_0623                  89.185699
cc_0627                  96.253413
cc_0630                  96.383334
cc_0708                  94.134389
cc_0713                  95.191547
cc_0716                  94.248925
cc_0719                  94.638812
cc_0721                  91.467253
cc_0725                  87.619367
cc_0728                  87.596221
cc_0802                  69.590045
cc_0808                  50.040269
cc_0812                  31.369730
dtype: float64

In [4]:
df.to_csv('test.csv')

In [5]:
# df.isna().sum().sum()

### Summary statistics 

can be applied to part or complete dataframe

In [6]:
df.describe()

,row,col,rep,line,grid,Tier,Row,Weight per row (lbs),cc_0412,cc_0415,...,cc_0708,cc_0713,cc_0716,cc_0719,cc_0721,cc_0725,cc_0728,cc_0802,cc_0808,cc_0812
count,875.000000,875.00000,875.000000,875.00000,875.0,875.000000,875.00000,875.000000,875.000000,875.000000,...,875.000000,875.000000,875.000000,875.000000,875.000000,875.000000,875.000000,875.000000,875.000000,875.000000
mean,4.000000,18.16800,257.161143,1.49600,1.0,4.000000,35.75200,6.619561,0.332185,0.264788,...,94.026807,95.082757,94.141212,94.638812,91.362719,87.619367,87.496111,69.590045,50.040269,31.333879
std,2.001144,9.08593,130.586830,0.50027,0.0,2.001144,18.05367,2.370967,0.373851,0.373185,...,8.284162,7.766256,8.112389,8.767108,9.020988,12.236083,10.622950,16.478898,19.321092,31.829060
min,1.000000,3.00000,0.000000,1.00000,1.0,1.000000,5.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,19.629574,0.000000,20.619689,0.000000,21.425299,7.274665,0.000000
25%,2.000000,10.00000,139.500000,1.00000,1.0,2.000000,20.00000,5.116000,0.068185,0.032228,...,92.682724,94.276348,92.987413,94.104234,89.548790,82.527814,82.931190,58.490996,34.502141,0.593581
50%,4.000000,18.00000,244.000000,1.00000,1.0,4.000000,36.00000,6.512000,0.219214,0.130703,...,96.434169,97.154009,96.320704,97.563821,93.963246,91.747341,90.380448,71.972726,49.725851,3.262512
75%,6.000000,26.00000,348.000000,2.00000,1.0,6.000000,51.00000,8.170000,0.454996,0.325862,...,98.311194,98.694683,98.233650,99.190037,96.680398,96.598134,94.804503,82.771715,66.348776,63.274470
max,7.000000,34.00000,452.000000,2.00000,1.0,7.000000,67.00000,15.650000,2.817913,3.326650,...,100.585191,100.833861,100.357273,100.874658,99.934271,100.283598,100.119823,96.028730,88.393048,87.125766

### Split dataframe into X, y

In [7]:
# separating the data to X and y
X = df[['cc_0412', 'cc_0415', 'cc_0427', 'cc_0506', 'cc_0516', 'cc_0520', 'cc_0523', 'cc_0527', 'cc_0531', 'cc_0602',
       'cc_0607', 'cc_0614', 'cc_0617', 'cc_0620', 'cc_0623', 'cc_0627',
       'cc_0630', 'cc_0708', 'cc_0713', 'cc_0716', 'cc_0719', 'cc_0721',
       'cc_0725', 'cc_0728', 'cc_0802', 'cc_0808', 'cc_0812']]

y = df['Weight per row (lbs)']

## Split the data into training and testing

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)

## Modeling and training

In [9]:
reg = LinearRegression().fit(X_train, y_train)
y_hat = reg.predict(X_test)

## Evaluation

In [10]:
reg.score(X_test, y_test)

0.5155039801869563

In [11]:
# Resources
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html
# https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html